{% extends 'control_estudios/base.html' %} {%block contenido %}
<h1 section class="m-3">Formulario</h1>
<form action="{% url 'crear_cursos_1'%}" method="post" class="w-50 m-3">
  {% csrf_token%}
  <label for="exampleInputEmail1" class="form-label">Nombre curso</label>
  <input type="text" class="form-control my-3" name="nombre" />
  <label for="exampleInputEmail1" class="form-label">Comision</label>
  <input type="number" class="form-control my-3" name="comision" step="1" />
  <button type="submit" class="btn btn-primary">ENVIAR</button>
</form>
{%endblock contenido %}
