{% extends 'control_estudios/base.html' %} {%block contenido %}
{% comment %} <h1 section class="m-3">Bienvenidos a Coder {{user.first_name}}</h1> {% endcomment %}
{% comment %} <img src="{{ user.avatar.imagen.url }}" /> {% endcomment %}
<main class="d-flex align-items-center vh-75">
  <div class="container">
    <div class="row align-items-center rounded-3">
      <div class="col-lg-8 p-3 p-lg-5 pt-lg-3 mt-5">
        <h1 class="display-4 fw-bold lh-1 pb-5">
          Informate y opina, <br />
          <span class="colorFont">Isekai NEWS</span>
        </h1>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum ullam
          expedita, nihil molestiae ratione non itaque esse magni optio amet
          distinctio numquam sunt deserunt vel explicabo dolor quasi placeat,
          repellendus, dicta error nostrum.
        </p>
        <div
          class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3 py-4"
        >
          <a href="{% url 'crear_noticia' %}"
            ><button
              type="button"
              class="btn btn-primary btn-lg px-4 my-4 me-md-2 fw-bold botonEstilo"
            >
              Crear Noticia
            </button></a
          >
        </div>
      </div>
      <div class="col-lg-4 shadow-lg d-flex justify-content-center">
        <img class="imgHero" src="/static/img/hero.jfif" alt="Konosuba" />
      </div>
    </div>
  </div>
</main>
<section class="vh-100 bg-secondary">
  <h1 class="py-3 ps-3 fw-bold colorFont text-center">Noticias</h1>
  <div id="containerNews" class="d-flex align-items-center gap-3">
    <!-- News CARDs -->
    {% for noticia in noticias %}
    <div
      class="card d-flex flex-column align-items-center"
      style="width: 24rem"
    >
      <div class="containerImageFeed">
        <img
          src="/media/{{ noticia.imagen }}"
          class="card-img-top imgNewsFeed"
        />
      </div>
      <div class="card-body w-100">
        <h5 class="card-title colorFont">{{ noticia.categoria }}</h5>
        <h2 class="card-title">
          <a href="{% url 'ver_noticia' noticia.id %}">{{ noticia.titular }}</a>
        </h2>
        <h7 class="card-title fst-italic fw-light">{{ noticia.autor }}</h7>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{%endblock contenido %}
