{% extends 'control_estudios/base.html' %} {%block contenido %}
<div class="vh-100 bg-secondary">
  <h1 class="py-3 ps-3 fw-bold colorFont text-center">Noticias</h1>
  <div id="containerNews" class="d-flex align-items-center gap-3">
    <!-- News CARDs -->
    {% if object_list|length == 0 %}
    <h2 class="py-3 ps-3 fw-bold colorFont text-center">
      No hay entradas aún...
    </h2>
    {% else %} {% for noticia in object_list %}
    <div
      class="card d-flex flex-column align-items-center"
      style="width: 24rem"
    >
      <div class="containerImageFeed">
        <img
          src="/media/{{ noticia.imagen }}"
          class="card-img-top imgNewsFeed"
        />
      </div>
      <div class="card-body w-100">
        <h5 class="card-title colorFont">{{ noticia.categoria }}</h5>
        <h2 class="card-title">
          <a href="{% url 'ver_noticia' noticia.id %}">{{ noticia.titular }}</a>
        </h2>
        <h7 class="card-title fst-italic fw-light">{{ noticia.autor }}</h7>
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
</div>
{%endblock contenido %}
