{% extends 'control_estudios/base.html' %} {%block contenido %}
<section class="m-3">
  <div>
    <h1>Lista de cursos</h1>

    <form action="{% url 'buscar_cursos' %}" method="post">
      {% csrf_token %}
      <input type="text" name="busqueda" />
      <input type="submit" value="Buscar por comisión" />
    </form>
    <br />

    <table class="table w-50">
      <tbody>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Comisión</th>
          <th></th>
          <th>Eliminar</th>
        </tr>

        {% for curso in cursos %}
        <tr>
          <td>{{curso.id}}</td>
          <td>{{curso.nombre}}</td>
          <td>{{curso.comision}}</td>
          <td>
            <a href="{% url 'editar_curso' curso.id %}">Editar</a>
          </td>
          <td>
            {% if user == curso.creador %}
            <form action="{% url 'eliminar_curso' curso.id %}" method="post">
              {% csrf_token%}
              <input type="submit" value="Eliminar" />
            </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {%endblock contenido %}
  </div>
</section>
