{% extends 'control_estudios/base.html' %} {%block contenido %}
<main class="d-flex align-items-center vh-75">
  <div class="container">
    <div class="row align-items-center rounded-3">
      <div class="col-lg-8 p-3 p-lg-5 pt-lg-3 mt-5">
        <h1 class="display-4 fw-bold lh-1 pb-5">
          Sebastián Marambio S. <br />
          <span class="colorFont">Desarrollador Full Stack</span>
        </h1>
        <p class="lead">
          Trabajo como desarrollador full stack en Energiza Spa, donde he tenido
          la oportunidad de adquirir experiencia en el desarrollo de
          aplicaciones web. Con mis 27 años de edad, he demostrado ser un
          profesional comprometido y apasionado por mi trabajo. Me considero una
          persona orientada a los resultados y siempre estoy dispuesto a
          enfrentar nuevos desafíos.<br /><br />
          Mi experiencia principal se encuentra en el desarrollo utilizando
          JavaScript, y he tenido la oportunidad de crear interfaces de usuario
          dinámicas y funcionales gracias a mis habilidades en este lenguaje.<br /><br />
          Aunque mi enfoque principal es el desarrollo en JavaScript, también he
          decidido ampliar mi conjunto de habilidades explorando el mundo de
          Python. Aunque al conseguir mi primer trabajo antes de lo esperado, me encontré
          con dificultades para seguir el ritmo del curso. Sin embargo, estoy
          muy agradecido de haber tenido un profesor que sabe cómo explicar sus
          ideas de manera clara y concisa, lo que me permitió aprender mucho en
          poco tiempo.<br /><br />
          Además de mis habilidades técnicas, valoro mucho el trabajo en equipo
          y tengo una capacidad sólida para adaptarme rápidamente a los cambios.
          Estoy casado con una mujer increíble que me apoya en cada proyecto en
          el que me lanzo, lo cual ha sido una fuente de inspiración y
          motivación en mi carrera profesional. <br /><br />
          Estoy constantemente buscando oportunidades para crecer y
          aprender, y estoy emocionado por enfrentar nuevos desafíos en el campo
          de la programación.
        </p>
      </div>
      <div class="col-lg-4 shadow-lg d-flex justify-content-center">
        <img class="imgHero" src="/static/img/admin.JPG" alt="Konosuba" />
      </div>
    </div>
  </div>
</main>

{%endblock contenido %}
